<h1>Eddie Lau</h1>

<p>I am teaching Ruby class</p>

<<<<<<< HEAD
<p>... and I am watching!...</p>

=======
<p> Edited by Eddie </p>
>>>>>>> bd39f5d844462c6e74fe936a25a6e47f811db0d4
<p> First Change</p>

<p> Second Change </p>

<p> Third Change </p>

<p> Four Thousandth Change </p>
